@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body, html{
    font-size: 2vh;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.centered{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-size: 6rem;
    margin: 0rem;
}

p{
    font-size: 1rem;
    margin-top: 0;
}

